<ion-app>
  <ion-content scrollEvents="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>My Card</ion-card-title>
        <ion-card-subtitle>This card is just here as a filler to produce space</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vitae dolore eius asperiores quidem. Enim nisi quasi accusantium unde doloribus, distinctio repellat, architecto quae similique aliquam officia hic alias? Debitis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusamus eligendi, assumenda quis exercitationem ex! Dolor, assumenda suscipit! Porro aspernatur ex officiis odio dicta consequatur veritatis assumenda minima. Sit, laborum?
      </ion-card-content>
    </ion-card>
    
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
    <ion-input placeholder="This is a placeholder"></ion-input>
  </ion-content>
</ion-app>